body {
    align-content: center;
    align-items:center;
    text-align: center;
    justify-content:center;
    background-color: rgb(147, 147, 223);
}
.gameTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}
#answerSet{
    margin: 20px auto;
    width:200px;
    height:200px;
    padding: 20px;
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    justify-content: center;
    align-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.answer {
    background-color:rgb(220, 185, 120);
    padding:20px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:25px;
    font-family:Verdana, Geneva, Tahoma, sans-seriff;
}
#Butn {
    background-color:rgb(208, 197, 177);
    padding:20px;
    border-radius:10px;
    display:flex;
    align-content: right;
    justify-self: right;
    justify-content: right;
    font-size:25px;
    font-family:sVerdana, Geneva, Tahoma, sans-serif;
}

#feedback{
    height: 100px;
    padding:20px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.Score{
    padding:20px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#Time{
    font-size: 25px;
    padding: 10px, 20px;
    margin: 10px auto ;
    font-weight: bolder;
}
h2 {
    background-color:rgb(208, 197, 177);
    padding:20px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}