.answer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 200px;
    height: 50px;
    margin: 50px auto;
    background-color: rgb(157, 154, 154);
    text-align: center;
}
h2 {
    text-align: center;
}
h1{
    text-align: center;
}
.next {
   align-self: right;
}
.WinHighlight{
    background-color: greenyellow;
    color: white;
}
.LoseHighlight{
    background-color: tomato;
    color: white;
}
#feedback{
    text-align: center;
}
.Score{
    text-align: center;
    
}
#Butn{
    text-align: center;
}